body{
    font-family: 'Poppins', sans-serif;
    margin: 0px ;
}
h1{
    font-size: 40px;
}
.highlighter{
    color: rgba(31, 31, 206, 0.692);
}
.flexible-container{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-right: 5px;
    text-align: justify;
}
.half-width img{
    width: 90%;
    margin-top: 60px;
}
.link-button{
    padding: 10px 40px;
    background-image: linear-gradient(rgba(255, 166, 0, 0.87), pink);
    font-size: 20px;
    
    border-radius: 10px;
}
.link-button a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: navy;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    text-align: justify;
    border-radius: 10px;
}
#first-box{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
}
#second-box{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}